<div class="container">
  <div class="page-header">
    <h1 class="pull">Photos of <%= @user.name %></h1>
  </div>
  <p class="lead pull">Divshot is a visual interface builder for web applications. Everything
    you see is real HTML and CSS. This page has a few quick tips to get you
    started. If you run into trouble, just click your name (top right) and
    then click "Share Feedback."</p>
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
  </ul>
  <div class="row">
    <div class="span4">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/64x64">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          <p>This is the content for your media.</p>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/64x64">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          <p>This is the content for your media.</p>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/64x64">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          <p>This is the content for your media.</p>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/64x64">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          <p>This is the content for your media.</p>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/64x64">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          <p>This is the content for your media.</p>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/64x64">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          <p>This is the content for your media.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="media">
    <a class="pull-left" href="#"></a>
    <div class="media-body"></div>
  </div>
  <div class="row">
    <div class="span4">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/64x64">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          <p>This is the content for your media.</p>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/64x64">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          <p>This is the content for your media.</p>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/64x64">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          <p>This is the content for your media.</p>
        </div>
      </div>
    </div>
  </div>
  <ul class="pager">
    <li>
      <a href="#">Prev</a>
    </li>
    <li>
      <a href="#">Next</a>
    </li>
  </ul>
  <p class="text-info lead">While using Divshot, your changes are automatically saved to the server
    as you make them so you never have to worry about losing your work.</p>
  <p>Enter your paragraph text here.</p>
</div>